.EditableInfo
  .wrap
    grid-gap: 0 !important
    padding: 1rem .5rem !important
    .MuiFormControl-root
        width: 100%
        margin: 5px 0
        input, textarea
            background: var(--L1)
            border-radius: 8px
            border: 1px solid var(--borderLight)
            padding: 10px .5rem
