.wrapper
  padding: 1rem 1rem

.notificationUnit
  margin: 20px 0
  border-radius: var(--br)
  background: var(--L1-glass) !important
  border: var(--border)

.unreadedWrapper
  margin: 1rem 0
  padding: .7rem 1.2rem 1rem
  border-left: 2px solid var(--lowContrast)

.notificationHeader
  display: grid
  grid-template-columns: auto auto
  align-items: end
  grid-template-areas: "sender timstamp" ".entity"
  padding: 5px 12px

.item1
  grid-area: sender
  font-weight: 600 !important
  color: var(--hightContrast)
  .normal
    font-weight: 400

.item3, .item1
  font-size: .85rem !important

.item2
  grid-area: timstamp
  text-align: right

.item3
  text-align: right
  grid-area: entity
  text-decoration: none
  &:hover
    text-decoration: underline
    h6
      color: var(--accent) !important

.commentContent
  padding: 12px 12px
  // background: var(--L2-glass) !important
  border-radius: 0 0 var(--br) var(--br)
  font-size: .9rem
  p, span, div, a
    color: var(--highContrast) !important
