.marginTopAuto
    margin-top: auto
.Sidebar
    display: flex
    flex-direction: column
    padding: 10px 0
    width: 50px
    border-right: var(--border)
    @media print
        width: 0 !important
        opacity: 0
    .link
        display: flex
        border: none !important
        justify-content: center
        align-self: center
        padding: 5px 0
        width: 100%
        box-sizing: border-box
        color: var(--lowContrast)
    .iconWrapper
        display: flex
        align-self: center
        padding: 5px
        path
            stroke-width: .8
            stroke: var(--L0)

    .sidebar-active
        box-shadow: inset 3px 0px 0px var(--accent) !important
        .iconWrapper
            padding: 5px
            path
                color: var(--highContrast)
                stroke: var(--L0)
