.Sidebar
    display: flex
    flex-direction: column
    padding: 10px 0
    position: fixed
    top: 0
    left: 0
    bottom: 0
    width: 50px 
   
    .action-icon
        display: flex
        background: transparent
        border: none !important
        justify-content: center
        box-shadow: inset 10px 0px 0px transparent
        align-self: center
        padding: 15px 5px 
        width: 100%
        color: var(--lowContrast)
    .settings
        margin-top: auto

    .sidebar-active 
        box-shadow: inset 8px 0px 0px var(--accent) !important
        color: var(--accent) !important

