.Sidebar
    display: flex
    flex-direction: column
    padding: 10px 0
    width: 50px 
    border-right: 1px solid var(--border)
    .link
        display: flex
        border: none !important
        justify-content: center
        align-self: center
        padding: 5px 0
        width: 100%
        box-sizing: border-box
        color: var(--highContrast)
    .iconWrapper
        display: flex
        align-self: center
        padding: 5px
        border-radius: 4px
        path
            stroke-width: .8
            stroke: var(--L0)
    .settings
        margin-top: auto

    .sidebar-active 
        .iconWrapper
            background: var(--accentLight)
            padding: 5px
            border-radius: 4px
            path
                color: var(--accent)
                stroke: var(--accentLight)


