.EditableInfo
  .wrap
    grid-gap: 0 !important
    .MuiFormControl-root
        width: 100%
        margin: 8px 0
        input, textarea
            height: .8em
            color: var(--highContrast)
            font-weight: normal !important
