.EditableInfo
    border-left: 1px dashed var(--accent) !important
    label
        color: var(--text2)
        font-size: .9rem
    input
        color: var(--text1)
    
    .MuiFormControl-root
        width: 100%
        margin: 8px 0
        input, textarea
            height: .8em
            color: var(--text1)



.Composition 
    .addOrderItem
        margin-top: 2em
        label
            color: var(--text2)
        .Quantity
            margin-left: 1em
        .push-order-item
            display: flex
            align-self: end
