.EditableInfo
    border-left: 1px dashed var(--accent) !important
    
    .MuiFormControl-root
        width: 100%
        margin: 8px 0
        input, textarea
            height: .8em
            color: var(--text1)
            font-weight: normal !important

.Composition 
    .addOrderItem
        display: grid
        grid-template-columns: 8fr 1fr
        margin-right: 2em 
        // background: var(--accentLight)
        // border-radius: var(--br)
        padding: 1rem
        margin-top: 2em

        input, textarea
            font-family: 'IBM Plex Mono' !important

        .MuiFormControl-root
            padding: 0 1rem !important
            label
                padding-left: 1em


        .fullName
            margin-top: 1rem

        .push-order-item
            display: flex
            align-self: end
