.sectionHead
    display: flex
    justify-content: space-between
    align-items: center
    padding: 10px 10px
    .expandBtn
        font-size: .7rem
        padding: 2px 8px
        color: var(--lowContrast)

.docsItemOnUpload
    opacity: .2 !important

.docsItem
    padding: 8px 10px
    border-bottom: var(--border)
    font-size: .9rem
    display: flex
    a
        flex-grow: 1
        display: grid !important
        grid-template-columns: auto 1fr
        grid-template-areas: 'svg name' 'svg date'
        text-decoration: none
        .svg
            grid-area: svg
            color: var(--lowContrast)
            padding-right: 8px
            stroke-width: .8
            stroke: var(--L0)
            // align-self: center
        .name
            grid-area: name
            color: var(--highContrast)
        .date
            grid-area: date
            color: var(--lowContrast)
            font-size: .7rem

    .deleteBtn
        padding: 0px 4px

