.container
    max-width: 1200px
    margin: 0 auto
    // border: 1px solid var(--border)
    height: 100vh

.action-icon
    color: var(--text2)
    width: 23px
    height: 23px
    &:hover
        color: var(--accent)


.page-header
    position: relative
    display: flex
    padding-top: 20px
    align-items: center
    color: var(--text1)
    font-size: 16px
    font-weight: bold
    span
        color: var(--accent)
        margin-bottom: -5px !important
        padding: 0 1em
    .search-box
        position: absolute
        left: 50%
        transform: translateX(-50%)
    .search-input
        border-radius: 20px
        border: 1px solid var(--border)


.action-block
    margin-top: 10px
    display: flex
    position: absolute
    top: 0
    right: 10px
    div
        padding: 10px

