html
    background: var(--L0) !important
    color: var(--lowContrast)
    @media (max-width: 1000px)
        font-size: .9rem
    
body
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
  -webkit-appearance: none
  margin: 0

/* Firefox */
input[type=number] 
  -moz-appearance: textfield

[contenteditable]
  outline: 0px solid transparent
[contentEditable=true]:empty:before
  content: attr(data-ph)
  color: var(--lowContrast)
  font-size: .9rem
  opacity: .5
  font-weight: 500
  
@media print
   .noprint
        display: none !important
   
.mr15
    margin-right: 15px
.base-container
    min-height: 100vh !important
    margin: 0 auto
    margin-left: 50px

.tooltip
    font-size: 12px !important
    padding: 5px !important

.action-block
    display: flex
    justify-content: flex-end
    margin-left: auto
    z-index: 100
    div
        padding: 10px

.action-icon.active
    color: var(--accent)
.action-icon
    color: var(--highContrast)
    &:hover
        color: var(--accent)
    path
        // уменьшение толщины линий иконок
        stroke-width: .8
        stroke: var(--L0) 

    @media (max-width: 900px)
        svg
            width: 20px
            height: 20px 
           



.page-header
    display: flex
    padding: 10px 0
    align-items: center
    color: var(--highContrast)
    height: 50px
    h2
        color: var(--highContrast)
        font-size: 1rem
    span
        color: var(--accent)
        margin-bottom: -5px !important
        padding-right: 1em
            

.square-button
    width: 30px
    height: 30px
    background: var(--accentLight)
    border-radius: 7px
    display: flex
    justify-content: center
    align-items: center
    margin: 0 auto
    transition: background 50ms linear
    svg
        width: 20px
        color: var(--lowContrast)
    &:hover  
        svg 
            color: var(--accent)

.pageLayout__header
  display: flex
  align-items: center
  padding: 15px 0 20px
  .pageLayout__title
    font-weight: 600
    color: var(--highContrast)
  .pageLayout__icon
    margin-right: .5rem
    path
      color: var(--accent)
      stroke-width: .8
      stroke: var(--L0)
  .pageLayout__actions
    margin-left: auto
