@import 'materialUI.sass'
    
html
    background: var(--bg) !important
    @media (max-width: 1000px)
        font-size: .9rem
    
body
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
  -webkit-appearance: none
  margin: 0

/* Firefox */
input[type=number] 
  -moz-appearance: textfield


.base-container
    max-width: 1416px
    margin: 0 auto
    @media (max-width: 1500px)
        margin-left: 50px

.tooltip
    font-size: 12px !important
    padding: 5px !important


.action-icon.active
    color: var(--accent)
.action-icon
    color: var(--text1)
    path
        // уменьшение толщины линий иконок
        stroke-width: .8
        stroke: var(--bg) 

    @media (max-width: 900px)
        svg
            width: 20px
            height: 20px 
           



.page-header
    display: flex
    padding: 10px 0
    align-items: center
    color: var(--text1)
    height: 40px
    margin-bottom: 20px
    h2
        color: var(--text1)
        font-size: .9rem

    span
        color: var(--accent)
        margin-bottom: -5px !important
        padding-right: 1em
            
.action-block
    // margin-top: 10px
    display: flex
    justify-content: flex-end
    margin-left: auto
    z-index: 100
    div
        padding: 10px


.OrderLayout
    padding-top: 1em


.square-button
    width: 30px
    height: 30px
    background: var(--accentLight)
    border-radius: 7px
    display: flex
    justify-content: center
    align-items: center
    margin: 0 auto
    transition: background 50ms linear
    svg
        width: 20px
        color: var(--text2)
    &:hover  
        background: var(--accent)   
        svg 
            color: var(--bg)
            

.tableWrap
    display: table
    width: 100%
    border: 1px solid var(--border)
    border-radius: var(--br)
    margin-bottom: 2em

    .tableSearchInput
        display: flex
        height: 50px
        align-items: center
        .action-icon
            padding: 0 10px
            width: 20px
        input
            border: none
            flex-grow: 1
            background: transparent
            color: var(--text1)
            &:active, &:focus
                outline: none !important

    .tableFooter
        // background: var(--accentLight)
        border-top: 1px dashed  var(--border)
        padding: .7em
    table thead
        border-top: 1px solid var(--border)
    table td:first-of-type
        border-left: none !important
    table td:last-of-type
        border-right: none !important
    table tr:last-of-type td
        border-bottom: none !important