@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&display=swap');

html{
    --L0: #f7f7fa;
    --L1: #f0f0f5;
    --L2: #c7c7d85d;
    
    --highContrast: rgba(0, 0, 0, 0.87);
    --lowContrast: rgba(0, 0, 0, .6);
    --disabled: rgba(0, 0, 0, .38);

    --textInvert: rgba(233, 233, 233);
    
    --accent: #3763FE;
    --danger: #e5534b;
    --accentLight: #E7E9FB;
    --border: #e0e2e7;
    --borderLight: #e9ebf1de;


    --br10: 6px;
    --br: 15px;

    --awaitingDispatch: rgb(205, 243, 170);
}


    
html.dark {
    --L0: rgb(0, 0, 0);
    --L1: rgba(200, 200, 255, 0.05);
    --L2: rgba(200, 200, 255, .07);

    --highContrast: rgb(233, 233, 233);
    --lowContrast: #8f8f8f;
    --textInvert: rgb(0, 0, 0);


    --accent: #6989fc;
    --accentLight: #43435c;
    --border: rgba(255,255,255,.13);
    --borderLight: rgba(255,255,255,.08);

    --awaitingDispatch: #1db954;
    }
