@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&display=swap');

html{
    --LI: #fff;
    --L0: #f7f7fa;
    --L1: #f2f2f6;
    --L2: #c7c7d82a;
    
    --highContrast: rgba(0, 0, 0, 0.87);
    --lowContrast: rgba(0, 0, 0, .6);
    --disabled: rgba(0, 0, 0, .38);

    --textInvert: rgba(233, 233, 233);
    
    --accent: #3356f6;
    --danger: #e5534b;
    --accentLight: #E7E9FB;
    --border: #e0e2e7;
    --borderLight: #e9ebf1de;


    --br10: 6px;
    --br: 15px;
    --bs: #ccccce;

    --awaitingDispatch: rgb(102, 207, 3);
    --needAttention: #e60909;
}


    
html.dark {
    --LI: rgb(26, 26, 26);
    --L0: #1e1e1e;
    --L1: #262629;   /* rgba(200, 200, 255, 0.05) */
    --L2: rgba(200, 200, 255, .07);

    --highContrast: rgba( 233 , 233 , 233) ;
    --lowContrast:  #8f8f8f;
    --textInvert:   rgb( 0 , 0 , 0 );


    --accent:      #99affc;
    --accentLight: #43435c;
    --border:      rgba( 255 , 255 , 255 , .07 );
    --borderLight: rgba( 255 , 255 , 255 , .04 );
    --bs: #252525;

    --awaitingDispatch: #269102;
    --needAttention:    #db0404;
    }
