.preorders-container
    table 
        border: 1px dashed var(--border) !important

    #grow
        height: 0
        overflow: hidden !important
        transition: height 300ms ease
        margin-bottom: 20px
        table
            border-radius: var(--br)

.preorders-container.active
    #grow
        overflow: visible
    svg
        transform: rotate(90deg)

.preorders-heading
    color: var(--accent) !important
    width: fit-content
    span
        margin: 0 5px
        svg
            opacity: .8
            width: 21px
            height: 21px
            margin-bottom: -6px
            padding-bottom: 0
            transition-duration: .3s
            transform: rotate(0deg)

