.preorders-container
    table 
        border: 1px dashed var(--border) !important
        border-radius: var(--br)
        margin-bottom: 50px !important

.preorders-container.active
    svg
        transform: rotate(90deg)

.preorders-heading
    display: flex
    align-self: center
    color: var(--accent) !important
    padding: 10px 0  !important
    margin-bottom: 10px
    span
        margin: 0 5px
        svg
            opacity: .8
            width: 21px
            height: 21px
            margin-bottom: -6px
            padding-bottom: 0
            transition-duration: .3s
            transform: rotate(0deg)

