.actionsWrapper
    // border-top: var(--border)
    // margin-top: 10px

.deleteButton
    color: var(--danger) !important

.moreVertIcon
    color: var(--lowContrast)
    height: 18px
    transform: rotate(90deg)

.inputListItem
    margin: 8px .5rem
    input, textarea
        font-size: .9rem
    &:hover
        background: transparent !important