.name, .quantity
    font-family: 'IBM Plex Mono' !important


.addOrderItem
    display: grid
    grid-template-columns: 8fr 1fr
    padding: 2em 2em
    input
      font-family: 'IBM Plex Mono' !important

    .MuiFormControl-root
        padding: 0 1rem !important
        label
            padding-left: 1em

    .fullNameInput
      margin-top: 1rem
      input
        font-family: sans-serif

    .quantityInput
      margin-left: 1em

    .pushOrderItemButton
        border: none !important
        display: flex
        align-self: end


.Unit 
    position: relative
    padding: 1em
    padding-left: 2em
    border-bottom: 1px solid var(--border)
    &:last-of-type
        border-bottom: none

.firstRow
    display: grid
    grid-template-columns: 5fr .8fr .5fr 

    .name, .quantity
        font-size: 1.3rem
    .quantity
        color: var(--accent)
        font-weight: 600

.fullName
    color: var(--lowContrast) !important
    padding-top: 5px
    font-size: .9rem