.name, .quantity
    font-family: 'IBM Plex Mono' !important


.addOrderItem
    display: flex
    flex-direction: column
    padding: 1em 
    background: var(--L0)
    border: 1px solid var(--border)
    border-radius: var(--br10)   
    margin: 2em
    .quantityInput
        width: 100px

    .pushOrderItemButton
        border: 1px solid var(--border) !important
        width: 100px
        // border: none !important
        display: flex
        text-transform: none !important
        align-self: self-start
        background: var(--accentLight)
        color: var(--accent)
        margin-top: 6px



.Unit 
    position: relative
    padding: 1em
    padding-left: 2em
    border-bottom: 1px solid var(--borderLight) !important
    display: grid
    grid-template-columns: .3fr 15fr 1fr 1fr 
    .index
        font-size: .7rem
        color: var(--lowContrast)
        display: flex
        align-self: center
        padding-right: 10px


    .name, .quantity
        font-size: 1.2rem
    .quantity
        color: var(--accent)
        font-weight: 600

    .fullName
        grid-column-start: 2
        grid-column-end: 4
        color: var(--lowContrast) !important
        padding-top: 5px
        font-size: .9rem