.inCloudconIcon
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 100px
    height: 100px
    color: var(--accent)
    z-index: -20
    
.isDragAccept
    opacity: .1
  
.preorderTitle
    color: var(--accent)
        
.OrderLayout
  --window-padding: 0px
  position: relative
  min-height: 100vh
  outline: none !important  
  position: relative
  display: grid
  grid-template-columns: 2fr auto
  .orderActions_box
    margin-left: auto
    background: var(--L0)
    border-radius: var(--br10)
    border: 1px solid var(--border)
    button
      border-radius: 0
    button:not(:last-of-type)
      border-right: 1px solid var(--border)

  .page-header
    grid-column-start: 1
    grid-column-end: 3
    border-bottom: 1px solid var(--border)
    padding: 2px 20px
  .Info
    grid-column-start: 3
    overflow-y: auto
    overflow-x: hidden
    height: 100vh
    position: sticky
    top: 0
  .Composition
    border-bottom: 1px solid var(--border)
   
.LeftSideContent
  display: grid
  grid-template-columns: 1fr 1fr
  height: fit-content
  width: 100%

  @media ( min-width: 2000px)
    margin: 0 auto
    max-width: 1700px 
    

  
  .Composition
    grid-column-start: 1
    grid-column-end: -1
  .Docs
    min-height: 100px
    grid-column-start: 2
    grid-column-end: -1



.awaitingDispatch 
  svg, div
    color: var(--awaitingDispatch) !important

.needAttention
  svg, div
    color: var(--needAttention) !important