@import 'composition'
    
.base-container section
    // background: var(--section)  
    border-radius: var(--br)
    color: var(--text1)
    min-height: 80vh
    padding: 0


.inCloudconIcon
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

    width: 200px
    height: 200px
    color: var(--accent)
    z-index: -20
    
.isDragAccept
    opacity: .1
  

.MuiPaper-root
    background: var(--bg) !important
    input
        color: var(--text1) !important
    .MuiTypography-root
        color: var(--text2) !important
        span
            color: var(--text1)
    .dialog-danger-btn
        color: var(--danger)
        text-transform: initial !important

        
.OrderLayout
    display: grid
    grid-template-columns: 2.5fr 1fr
    border-top: 1px solid var(--border)
    border-radius: 0 !important
    outline: none !important    
    .Main
           

        .WrapperTwoCol
            display: grid
            grid-template-columns: 1fr 1fr
            border-bottom: 1px solid var(--border)
            .CheckList
                padding: 1rem 0
                font-size: 1rem


                .CheckListUnit
                    position: relative
                    padding:  .4rem 3rem
                    width: fit-content
                    &:hover
                        background: var(--accentLight)
                        border-radius: 5px
                    &::after
                        content: ''
                        top: 50%
                        transform: translateY(-50%)
                        left: 10px
                        position: absolute
                        width: 15px 
                        height: 15px
                        border-radius: 100%
                        opacity: .6
                        border: 1px solid var(--accent)

                .CheckListUnit.complited
                    text-decoration: line-through 
                    color: var(--text2)
                    &::after
                        background: var(--accent)
                       




            .Docs
                padding: 1rem
                border-left: 1px solid var(--border)
                a
                    display: flex
                    color: var(--text1)
                    text-decoration: none

                .file-name
                    font-family: 'IBM Plex Mono'
                    line-height: 1

                    padding: 5px 0
                    width: fit-content
                    &:hover
                        color: var(--accent)

                .delete-file 
                    &:hover
                        color: var(--danger)
                        text-decoration: line-through

                .onUploadIcon
                    position: relative
                    display: flex
                    flex-direction: column
                    div
                        opacity: .7 
                        color: var(--text2)

                    img 
                        width: 150px !important
                        height: 150px
                        top: 50%
                        left: 50% 
                        transform: translate(-50%, -50%)
                        position: absolute
               

 
        
            