.base-container section
    background: var(--L1) !important  
    border-radius: var(--br)
    color: var(--highContrast)
    min-height: 90vh
    padding: 0

    
.inCloudconIcon
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

    width: 200px
    height: 200px
    color: var(--accent)
    z-index: -20
    
.isDragAccept
    opacity: .1
  
.preorderTitle
    color: var(--accent)
    
.MuiPaper-root
    background: var(--L0) !important
    input
        color: var(--highContrast) !important
    .MuiTypography-root
        color: var(--lowContrast) 
        span
            font-weight: 500 
            color: var(--highContrast) !important

    .dialog-danger-btn
        text-transform: initial !important

        span
            color: var(--danger)

.sectionHeading
    color: var(--lowContrast)
    border-bottom: 1px dashed var(--border)
    padding: .2em 1em 
    font-weight: 300
    font-size: .8rem

.Composition
    border-bottom: 1px solid var(--border)
        
.OrderLayout
    display: grid
    grid-template-columns: 2.5fr 1fr
    border: 1px solid var(--border)
    border-radius: var(--br)
    outline: none !important    
    .Main
        .WrapperTwoCol
            display: grid
            grid-template-columns: 1fr 1fr
            border-bottom: 1px solid var(--border)
            .CheckList
                font-size: 1rem


                .CheckListUnit
                    position: relative
                    padding:  .4rem 3rem
                    width: fit-content
                    &:hover
                        background: var(--accentLight)
                        border-radius: 5px
                    &::after
                        content: ''
                        top: 50%
                        transform: translateY(-50%)
                        left: 10px
                        position: absolute
                        width: 15px 
                        height: 15px
                        border-radius: 100%
                        opacity: .6
                        border: 1px solid var(--accent)

                .CheckListUnit.complited
                    text-decoration: line-through 
                    color: var(--lowContrast)
                    &::after
                        background: var(--accent)
                       




            .Docs
                border-left: 1px solid var(--border)
                .filesContainer
                    padding: 1em
                a
                    display: flex
                    color: var(--highContrast)
                    text-decoration: none

                .file-name
                    line-height: 1
                    font-weight: 300
                    padding: 5px 0
                    width: fit-content
                    &:hover
                        color: var(--accent)

                .delete-file 
                    &:hover
                        color: var(--danger)
                        text-decoration: line-through

                .onUploadIcon
                    position: relative
                    display: flex
                    flex-direction: column
                    div
                        opacity: .7 
                        color: var(--lowContrast)

                    img 
                        width: 150px !important
                        height: 150px
                        top: 50%
                        left: 50% 
                        transform: translate(-50%, -50%)
                        position: absolute
               

 
        
            