.themeToggleButtons
  color: var(--highContrast) !important
  svg
    padding-right: 5px
    width: 20px

.user
  display: flex
  font-weight: 500
  justify-content: center !important
  color: var(--highContrast) !important

.logoutButton
  position: absolute
  margin: 1em
  bottom: 0
  left: 0