.inputWrapper
  display: flex
  justify-content: center
  margin: 1em 0
  width: 100%
  font-size: 1.3rem
  input
    max-width: 500px
    background: var(--L0)
    border: 1px solid var(--border)
    padding: 10px 10px
    border-radius: var(--br10)

.archiveTable
  border-top: none !important

