.filterFormControl
  display: flex !important
  flex-direction: row !important
  align-items: center
  padding: .3rem 1rem !important
  border-bottom: 1px solid var(--border) !important

.filterInputBase
  margin: 0 5px 
  padding: 2px 5px !important
  border-radius: var(--br10) !important
  &:hover
    background: var(--accentLight) !important
    color: var(--accent) !important
    