.filterFormControl
  display: flex !important
  flex-direction: row !important
  align-items: center
  margin: 0 1rem !important
.filterInputBase
  margin: 0 5px 
  padding: 2px 5px !important
  border-radius: var(--br10) !important
  &:hover
    background: var(--accentLight) !important
    color: var(--accent) !important
    