.loginCard
    display: flex
    flex-direction: column
    position: fixed
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    min-width: 300px
    color: var(--highContrast)
   
    .loginInput
        margin: .5rem 0
        
        input 
            color: var(--highContrast) !important

        label
            color: var(--lowContrast) !important


    .Button
        margin-left: auto
        margin-top: 2rem 
        color: var(--accent) !important
        font-weight: 600
        background: var(--accentLight)
        border: none
