*
    outline: none !important
    
body  
    background: var(--bg) !important
  

.loginCard
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    input
        background: inherit !important

    label
        color: var(--text1) !important
        font-weight: 300
        font-size: 12px
    .Button
        background-color: var(--text1) !important
        color: var(--textInvert) !important

