.reclatationLayout
  position: relative
  height: calc(100vh - 40px)

.columnWrapper
  position: absolute
  top: 60px
  bottom: 0
  display: grid !important
  grid-template-columns: 1fr 1fr 1fr
  width: 100%

  border-top: var(--border)
  border-bottom: var(--border)


  .reclColumn:not(:first-of-type)
    border-left: var(--border)
  .draggableWrapper
    display: flex
    flex-grow: 1
    flex-direction: column
    height: 100%
  .heading
    color: var(--accent)
    padding: 10px 15px 10px
    font-size: .9rem
    font-weight: 600


.item
  display: grid
  grid-template-columns: 2fr 1fr 
  text-decoration: none !important
  align-items: center
  position: relative
  border-bottom: 1px solid var(--border-colorLight)
  padding: 30px 10px 
  grid-gap: 13px 
  &:hover
    background: var(--LI)
  .orderItem
    font-family: 'IBM Plex Mono'
    color: var(--highContrast)
    font-size: 1rem 

  .customerInfo
    div:first-of-type
      font-size: .9rem !important
      color: var(--highContrast)
      font-weight: 600
  div
    color: var(--lowContrast)


.needAttention, 
.awaitingDispatch
  &::before
    content: ''
    position: absolute
    bottom: 0
    top: 0
    left: 0
    background: var(--needAttention)
    height: 100%
    width: 3px

.awaitingDispatch
  &::before
    background: var(--awaitingDispatch)

